<?xml version="1.0" ?>
<launch>
	<node pkg="octreemap" type="test_octomap" name="test_octomap" output="screen" />

	<arg name="model" value="$(find robot_gazebo)/robot_description/urdf/quadrotor_with_utm30lx_with_guidance.gazebo.xacro"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(arg model)' " /> 

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find octreemap)/guidance.rviz"/>

	<!-- Run a static transform between /base_link and /base_footprint needed for SLAM -->
  	<node pkg="tf" type="static_transform_publisher" name="guidance" args="-0.25 -0.25 -0.25 0 0 0 /base_link /guidance 100" />

</launch>